.bg{
    background-color: rgb(11, 11, 11);
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
body{
    padding: 0;
    margin: 0;
}
.btn{
    width:200px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}